* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f0f0;
}
div.measure {
    display: flex;
}
.measure-picture {
    width: 60%;
}
.measure-picture img {
    width: 100%;
}
.measure-content {
    width: 50%;
    align-items: center;
    text-align: center;
    margin: auto 5%;
}
.measure-text h1 {
    margin: 0;
    letter-spacing: 1.5px;
}
.submit {
    width: auto !important;
    padding: 15px 30px;
    height: auto !important;
}
.carousel-caption-measure {
    position: absolute;
    top: 20%;
    color: white;
    width: 60%;
    margin-left: 5%;
    text-shadow: 1px 1px 1px black;
}
.carousel-inner p {
    text-align: start !important;
    line-height: 1.3;
}
.text-measure {
    font-size: 32px;
    font-family: Acta Display W01 Book;
    letter-spacing: 2px;
    line-height: 30px;
}

.gif iframe {
    width: 100vw;
    height: 57.5vw;
}
.banner-measure {
    position: relative;
}
.caption-measure {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px !important;
}
.banner-measure p {
    margin: 0;
}
.text-banner {
    position: absolute;
    top: 40%;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.text-banner h1 {
    font-size: 90px;
    margin: 0;
}
.text-banner h2 {
    font-family: Acta Display W01 Book;
    margin: 0;
}
.description {
    color: gray;
    position: absolute;
    width: 100%;
    top: 200%;
}
.items-cross-picture {
    display: flex;
}
.items-cross-picture img {
    width: 25%;
}
.height-18 {
    height: 18vw;
}
.cross-picture-half {
    display: flex;
}
.cross-picture-half img {
    width: 50%;
}
.cube {
    width: 25%;
    display: block;
}
.cube-half {
    width: 50%;
    display: block;
    margin: auto;
}
.button-holiday input, .button-anniversary input {
    width: auto !important;
}

@media screen and (max-width: 1050px) /*150%*/ {
    .measure-text h1 {
        font-size: 35px;
    }
    .measure-text p {
        font-size: 14px;
    }
    .measure-text h2, .text-measure, .text-banner h2 {
        font-size: 25px;
    }
    .text-banner h1 {
        font-size: 75px;
    }
    
}

@media screen and (max-width: 800px) /*200%*/ {
    .measure-text h1 {
        font-size: 30px;
    }
    .measure-text p, .header-tour p {
        font-size: 12px;
    }
    .measure-text h2, .text-measure, .header-tour h2, .text-banner h2 {
        font-size: 20px;
    }
    .submit {
        padding: 10px 20px;
    }
    .text-banner h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 750px) /*250%*/ {
    .measure-text h1 {
        font-size: 25px;
    }
    .measure-text p, .header-tour p {
        font-size: 10px;
    }
    .measure-text h2, .text-measure, .header-tour h2, .text-banner h2 {
        font-size: 18px;
    }
    .text-measure {
        line-height: 20px;
    }
    .carousel-caption-measure {
        top: 10%;
    }
    .text-banner h1 {
        font-size: 50px;
    }
    
}

@media screen and (max-width: 600px) /*300%*/ {
    .measure-text h1 {
        font-size: 20px;
    }
    .measure-text p, .header-tour p {
        font-size: 8px;
    }
    .measure-text h2, .text-measure, .header-tour h2, .text-banner h2 {
        font-size: 15px;
    }
    .submit {
        font-size: 8px !important;
        padding: 7px 14px;
    }
    .description {
        top: 170%;
    }
}

@media screen and (max-width: 450px) /*400%*/ {
    .measure-text h1 {
        font-size: 15px;
    }
    .measure-text p,.carousel-inner p, .header-tour p {
        font-size: 6px !important;
        margin: 2px !important;
    }
    .measure-text h2, .text-measure, .header-tour h2 {
        font-size: 12px;
        margin: 0;
        line-height: 15px;
    }
    
    .text-banner h1 {
        font-size: 35px;
    }
    .description {
        top: 150%;
    }
}

@media screen and (max-width: 360px) /*500%*/ {
    .measure-text h1 {
        font-size: 12px;
    }
    .measure-text p, .header-tour p {
        font-size: 4px;
    }
    .measure-text h2, .text-measure, .header-tour h2, .text-banner h2 {
        font-size: 10px;
    }
    .submit {
        padding: 5px 10px;
    }
    .description {
        top: 120%;
    }
}